RewriteEngine On

# If file exists, do not rewrite
RewriteCond %{REQUEST_FILENAME} !-f

# If directory exists, do not rewrite
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything to index.php
RewriteRule ^(.*)$ index.php [L,QSA]